@import "./base/normalize";

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/global";
@import "./utils/placeholders";
@import "./utils/visually-hidden";

@import "./components/page-header";
// @import './components/logo';
@import "./components/navigation";
@import "./components/mobile-menu";
@import "./components/hero";
@import "./components/backdrop";
@import "./components/overlay";
@import "./components/modal-form";
// @import './components/advantages';
// @import './components/activity';
// @import './components/team';
// @import './components/clients';
// @import './components/footer';
// @import './components/portfolio-work';
// @import './components/portfolio-gallery';
