.activity {
  padding-bottom: 94px;
  @include mq(not-desktop) {
    display: none;
  }
}

.activity__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.activity .activity-list {
  @extend %list;
  display: flex;
}

.activity-list__item {
  position: relative;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.activity-list__title {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $title-text-color;
  background-color: rgba(47, 48, 58, 0.8);
}
