.advantages {
    @extend %list;
    display: flex;
    align-items: center;
  }
  
  .advantages__item {
    margin-right: 30px;
    width: 270px;
    &:last-child {
      margin-right: 0;
    }
  }
  
  .advantages__pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  
  .advantages__header {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  
  .advantages__description {
    line-height: 1.71;
    color: $text-color;
  }