.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: $primary-text-color;

  @include mq(desktop) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: border-color $fast-anim;

  @include mq(tablet) {
    width: 226px;
  }

  @include mq(desktop) {
    width: 170px;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  &:hover .clients-list__icon,
  &:focus .clients-list__icon {
    fill: $accent-color;
  }
}

.clients-list__icon {
  fill: currentColor;
  transition: fill $fast-anim;
}
