$primary-text-color: #212121;
$title-text-color: #ffffff;
$accent-color: #2196f3;
$text-color: #757575;
$contact-color: rgba(255, 255, 255, 0.6);
$main-bg-color: #ffffff;
$primary-bg-color: #2f303a;
$team-bg-color: #f5f4fa;
$header-board-color: #ececec;
$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$fast-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);